<h2 class='col-md-4 col-md-offset-4'>Dog Listing, Woof</h2>
<% if organization_signed_in? %>
  <%= link_to "Create", new_transport_dog_url(@transport), class: "btn btn-success"%>
<% end  %>
<table id='dog-table' class='table table-bordered table-striped'>
  <thead>
    <tr>
      <td>
        Photo
      </td>
      <td>
        Name
      </td>
      <td>
        Weight
      </td>
      <td>
        Gender
      </td>
      <td>
        Age
      </td>
      <td>
        Breed
      </td>
      <td>
        Location
      </td>
    </tr>
  </thead>
  <% @dogs.each do |d| %>
  <tr>
    <td>
      <%= image_tag(d.image_url(:small_thumb)) if d.image? %>
    </td>
    <td>
      <%= link_to d.name, transport_dog_path(@transport, d.id) %>
    </td>
    <td>
      <%= d.weight %>
    </td>
    <td>
      <%= d.gender %>
    </td>
    <td>
      <%= d.age %>
    </td>
    <td>
      <%= d.breed %>
    </td>
    <td>
      <%= d.location %>
    </td>
  </tr>

  <% end  %>
</table>
