<div class="row">
  <%= simple_form_for(@dog, url: dogs_path(@dog),
  defaults: { wrapper_html: { class: 'form-group'},
              input_html: { class: 'form-control'} }) do |f| %>
    <div class="form-inputs col-md-4 col-md-offset-4">
      <%= f.input :name, required: true, autofocus: true %>
      <%= f.input :weight, required: true %>
      <%= f.input :gender, collection: [:Male, :Female] %>
      <%= f.input :isolate, collection: [:True, :False] %>
      <%= f.input :age, required: true %>
      <%= f.input :breed, collection: [:pitbull, :sheltie, :doge] %>
      <%= f.input :location, required: true %>
      <%= f.file_field :image %>
    </div>
    <div class="form-actions col-md-4 col-md-offset-4">
      <input type='submit' class='btn btn-success pull-right' value='Create' />
    </div>
  <% end %>
</div>
