<div class="row black-viewport">
  <div id="multi_markers"></div>
</div>
<%= link_to "Create", new_dog_url, class: "btn btn-success"%>
<table class="table table-striped">
  <tr>
    <th>
      Description
    </th>
    <th>
      Address
    </th>
    <th>
      City
    </th>
    <th>
      State
    </th>
    <th>
      Zip
    </th>
  </tr>
  <% @legs.each do |leg| %>
    <tr>
      <td>
        <%= leg.description %>
      </td>
      <td>
        <%= leg.address %>
      </td>
      <td>
        <%= leg.city %>
      </td>
      <td>
        <%= leg.state %>
      </td>
      <td>
        <%= leg.zip %>
      </td>
    </tr>
  <% end %>
</table>
