<div class="row black-viewport">
  <div id="multi_markers"></div>
</div>
<% if organization_signed_in? %>
  <%= link_to "Create", new_transport_leg_url(@transport), class: "btn btn-success"%>
<% end  %>
<table class="table table-striped">
  <tr>
    <th>
      Description
    </th>
    <th>
      Address
    </th>
    <th>
      City
    </th>
    <th>
      State
    </th>
    <th>
      Zip
    </th>
    <th>
      Volunteer
    </th>
  </tr>
  <% @legs.each do |leg| %>
    <tr>
      <td>
        <%= leg.description %>
      </td>
      <td>
        <%= leg.address %>
      </td>
      <td>
        <%= leg.city %>
      </td>
      <td>
        <%= leg.state %>
      </td>
      <td>
        <%= leg.zip %>
      </td>
      <td>
        <% if leg.user %>
          <%= leg.user.name %>
        <% elsif user_signed_in? %>
          <%= button_to "Sign up", transport_leg_volunteer_path(@transport, leg), method: :get %>
        <% else %>
          <p>
            No Volunteer
          </p>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
