<div class="row">
  <div id="dog-carousel" class="carousel slide black-viewport hidden-xs" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#dog-carousel" data-slide-to="0" class="active"></li>
      <li data-target="#dog-carousel" data-slide-to="1"></li>
      <li data-target="#dog-carousel" data-slide-to="2"></li>
      <li data-target="#dog-carousel" data-slide-to="3"></li>
      <li data-target="#dog-carousel" data-slide-to="4"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
          <div class="inner-item">
            <%= image_tag 'step_1.jpg', alt: "Transporter Station", class: "img-responsive" %>
            <div class="carousel-caption">
              <h3>Rescues create a transport</h3>
            </div>
          </div>
      </div>
      <div class="item">
          <div class="inner-item">
            <%= image_tag 'step_2.jpg', alt: "Transporter Station", class: "img-responsive"  %>
            <div class="carousel-caption">
              <h3>Rescues add dogs</h3>
            </div>
          </div>
      </div>
      <div class="item">
          <div class="inner-item">
            <%= image_tag 'step_3.jpg', alt: "Transporter Station", class: "img-responsive"  %>
            <div class="carousel-caption">
              <h3>Rescues add stops</h3>
            </div>
          </div>
      </div>
      <div class="item">
          <div class="inner-item">
            <%= image_tag 'step_4.jpg', alt: "Transporter Station", class: "img-responsive"  %>
            <div class="carousel-caption">
              <h3>Volunteers sign-up for stops</h3>
            </div>
          </div>
      </div>
      <div class="item">
          <div class="inner-item">
            <%= image_tag 'step_5.jpg', alt: "Transporter Station", class: "img-responsive"  %>
            <div class="carousel-caption">
              <h3>Dogs find happy homes</h3>
            </div>
          </div>
      </div>
    </div>

  </div>
</div>

<div class="row">
  <div class="well">
    <blockquote class="">
      "Saving one dog will not change the world...
       But surely, for that one dog
       the world will change forever"
    </blockquote>
  </div>
</div>
