<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <p class="logo-text">
          <i class="fa fa-paw"></i> Transporter Station <i class="fa fa-paw"></i>
        </p>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Home', root_path %></li>
        <% unless user_signed_in? %>
        <li class="dropdown" id='organization'>
          <a data-toggle="dropdown" href="#">Organizations</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <% if organization_signed_in? %>
              <li><%= link_to 'Transports', transports_path %></li>
              <li><%= link_to 'Logout', destroy_organization_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to 'Register', new_organization_registration_path %></li>
              <li><%= link_to 'Login', new_organization_session_path %></li>
            <% end %>
          </ul>
        </li>
        <% end %>
        <% unless organization_signed_in? %>
        <li class="dropdown" id='volunteer'>
          <a data-toggle="dropdown" href="#">Volunteers</a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <% if user_signed_in? %>
              <li><%= link_to 'Transports', transports_path %></li>
              <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to 'Register', new_user_registration_path %></li>
              <li><%= link_to 'Login', new_user_session_path %></li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
